<h1>Bike Rio</h1>
<form action="/check_bike" method="POST">
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="inputAddress">Endereço</label>
      <input type="text" name="post[endereco]" class="form-control" id="inputAddress" placeholder="Digite seu endereco">
    </div>
    <div class="form-group col-md-4">
      <label for="inputCidade">Cidade</label>
      <select id="inputCidade" name = "post[cidade]" class="form-control">
         <option value="AC">Angra dos Reis</option>
         <option value="AC">Aperibe</option>
         <option value="AC">Araruama</option>
         <option value="AC">Areal</option>
         <option value="AC">Armacao de Buzios</option>
         <option value="AC">Arraial do Cabo</option>
         <option value="AC">Barra Mansa</option>
         <option value="AC">Barra do Pirai</option>
         <option value="AC">Belford Roxo</option>
         <option value="AC">Bom Jardim</option>
         <option value="AC">Bom Jesus do Itabapoana</option>
         <option value="AC">Cabo Frio</option>
         <option value="AC">Cachoeiras de Macacu</option>
         <option value="AC">Cambuci</option>
         <option value="AC">Campos dos Goytacazes</option>
         <option value="AC">Cantagalo</option>
         <option value="AC">Carapebus</option>
         <option value="AC">Cardoso Moreira</option>
         <option value="AC">Carmo</option>
         <option value="AC">Casimiro de Abreu</option>
         <option value="AC">Comendador Levy Gasparian</option>
         <option value="AC">Conceicao de Macabu</option>
         <option value="CDO">Cordeiro</option>
         <option value="DB">Duas Barras</option>
         <option value="DC">Duque de Caxias</option>
         <option value="EPF">Engenheiro Paulo de Frontin</option>
         <option value="GPM">Guapimirim</option>
         <option value="IG">Iguaba Grande</option>
         <option value="ITB">Itaborai</option>
         <option value="ITI">Itaguai</option>
         <option value="ITL">Italva</option>
         <option value="ITO">Itaocara</option>
         <option value="ITR">Itaperuna</option>
         <option value="ITA">Itatiaia</option>
         <option value="JEI">Japeri</option>
         <option value="LM">Laje do Muriae</option>
         <option value="MCU">Macau</option>
         <option value="MCO">Macuco</option>
         <option value="MGE">Mage</option>
         <option value="MGA">Mangaratiba</option>
         <option value="MIA">Marica</option>
         <option value="MD">Mendes</option>
         <option value="MP">Miguel Pereira</option>
         <option value="MCA">Miracema</option>
         <option value="NTE">Natividade</option>
         <option value="NLS">Nilopolis</option>
         <option value="NIT">Niteroi</option>
         <option value="NF">Nova Friburgo</option>
         <option value="NI">Nova Iguacu</option>
         <option value="PCI">Paracambi</option>
         <option value="PS">Paraiba do Sul</option>
         <option value="PAT">Parati</option>
         <option value="PA">Paty do Alferes</option>
         <option value="PTS">Petropolis</option>
         <option value="PEL">Pinheiral</option>
         <option value="PRI">Pirai</option>
         <option value="PCA">Porciuncula</option>
         <option value="PR">Porto Real</option>
         <option value="QT">Quatis</option>
         <option value="QMD">Queimados</option>
         <option value="QSA">Quissama</option>
         <option value="RSD">Resende</option>
         <option value="RB">Rio Bonito</option>
         <option value="RC">Rio Claro</option>
         <option value="RDF">Rio das Flores</option>
         <option value="RDO">Rio das Ostras</option>
         <option value="RJ">Rio de Janeiro</option>
         <option value="SMM">Santa Maria Madalena</option>
         <option value="SAP">Santo Antonio de Padua</option>
         <option value="SF">Sao Fidelis</option>
         <option value="SFI">Sao Francisco de Itabapoana</option>
         <option value="SG">Sao Goncalo</option>
         <option value="SJB">Sao Joao da Barra</option>
         <option value="SJM">Sao Joao de Meriti</option>
         <option value="SJU">Sao Jose de Uba</option>
         <option value="SJV">Sao Jose do Vale do Rio Preto</option>
         <option value="SPA">Sao Pedro da Aldeia</option>
         <option value="SSA">Sao Sebastiao do Alto</option>
         <option value="SC">Sapucaia</option>
         <option value="SQ">Saquarema</option>
         <option value="SD">Seropedica</option>
         <option value="SJ">Silva Jardim</option>
         <option value="SM">Sumidouro</option>
         <option value="TG">Tangua</option>
         <option value="TRS">Teresopolis</option>
         <option value="TDM">Trajano de Morais</option>
         <option value="TR">Tres Rios</option>
         <option value="VLA">Valenca</option>
         <option value="VSI">Varre-Sai</option>
         <option value="VSS">Vassouras</option>
         <option value="VD">Volta Redonda</option>
      </select>
    </div>
  </div>
  </div>
  <button type="submit" name = "post[entrar]" class="btn btn-primary">Entrar</button>
</form>
