<h1>Bike Rio</h1>
<form action="/check_bike" method="POST" >
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="inputAddress">Endereço</label>
      <input type="text" name="post[endereco]" class="form-control" id="inputAddress" placeholder="Digite seu endereco:">
    </div>
    <div class="form-group col-md-4">
      <label for="inputCidade">Cidade</label>
      <select id="inputCidade" name = "post[cidade]" class="form-control">
         <option value="Angra dos Reis">Angra dos Reis</option>
         <option value="Aperibe">Aperibe</option>
         <option value="Araruama">Araruama</option>
         <option value="Areal">Areal</option>
         <option value="Armacao de Buzios">Armacao de Buzios</option>
         <option value="Arraial do Cabo">Arraial do Cabo</option>
         <option value="Barra Mansa">Barra Mansa</option>
         <option value="Barra do Pirai">Barra do Pirai</option>
         <option value="Belford Roxo">Belford Roxo</option>
         <option value="Bom Jardim">Bom Jardim</option>
         <option value="Bom Jesus do Itabapoana">Bom Jesus do Itabapoana</option>
         <option value="Cabo Frio">Cabo Frio</option>
         <option value="Cachoeiras de Macacu">Cachoeiras de Macacu</option>
         <option value="Cambuci">Cambuci</option>
         <option value="Campos dos Goytacazes">Campos dos Goytacazes</option>
         <option value="Cantagalo">Cantagalo</option>
         <option value="Carapebus">Carapebus</option>
         <option value="Cardoso Moreira">Cardoso Moreira</option>
         <option value="Carmo">Carmo</option>
         <option value="Casimiro de Abreu">Casimiro de Abreu</option>
         <option value="Comendador Levy Gasparian">Comendador Levy Gasparian</option>
         <option value="Conceicao de Macabu">Conceicao de Macabu</option>
         <option value="Cordeiro">Cordeiro</option>
         <option value="Duas Barras">Duas Barras</option>
         <option value="Duque de Caxias">Duque de Caxias</option>
         <option value="Engenheiro Paulo de Frontin">Engenheiro Paulo de Frontin</option>
         <option value="Guapimirim">Guapimirim</option>
         <option value="Iguaba Grande">Iguaba Grande</option>
         <option value="Itaborai">Itaborai</option>
         <option value="Itaguai">Itaguai</option>
         <option value="Italva">Italva</option>
         <option value="Itaocara">Itaocara</option>
         <option value="Itaperuna">Itaperuna</option>
         <option value="Itatiaia">Itatiaia</option>
         <option value="Japeri">Japeri</option>
         <option value="Laje do Muriae">Laje do Muriae</option>
         <option value="Macau">Macau</option>
         <option value="Macuco">Macuco</option>
         <option value="Mage">Mage</option>
         <option value="Mangaratiba">Mangaratiba</option>
         <option value="Marica">Marica</option>
         <option value="Mendes">Mendes</option>
         <option value="Miguel Pereira">Miguel Pereira</option>
         <option value="Miracema">Miracema</option>
         <option value="Natividade">Natividade</option>
         <option value="NLS">Nilopolis</option>
         <option value="Niteroi">Niterói</option>
         <option value="Nova Friburgo">Nova Friburgo</option>
         <option value="Nova Iguacu">Nova Iguacu</option>
         <option value="Paracambi">Paracambi</option>
         <option value="PS">Paraiba do Sul</option>
         <option value="PAT">Parati</option>
         <option value="PA">Paty do Alferes</option>
         <option value="PTS">Petropolis</option>
         <option value="PEL">Pinheiral</option>
         <option value="PRI">Pirai</option>
         <option value="PCA">Porciuncula</option>
         <option value="PR">Porto Real</option>
         <option value="QT">Quatis</option>
         <option value="QMD">Queimados</option>
         <option value="QSA">Quissama</option>
         <option value="RSD">Resende</option>
         <option value="RB">Rio Bonito</option>
         <option value="RC">Rio Claro</option>
         <option value="RDF">Rio das Flores</option>
         <option value="RDO">Rio das Ostras</option>
         <option value="RJ">Rio de Janeiro</option>
         <option value="SMM">Santa Maria Madalena</option>
         <option value="SAP">Santo Antonio de Padua</option>
         <option value="SF">Sao Fidelis</option>
         <option value="SFI">Sao Francisco de Itabapoana</option>
         <option value="SG">Sao Goncalo</option>
         <option value="SJB">Sao Joao da Barra</option>
         <option value="SJM">Sao Joao de Meriti</option>
         <option value="SJU">Sao Jose de Uba</option>
         <option value="SJV">Sao Jose do Vale do Rio Preto</option>
         <option value="SPA">Sao Pedro da Aldeia</option>
         <option value="SSA">Sao Sebastiao do Alto</option>
         <option value="SC">Sapucaia</option>
         <option value="SQ">Saquarema</option>
         <option value="SD">Seropedica</option>
         <option value="SJ">Silva Jardim</option>
         <option value="SM">Sumidouro</option>
         <option value="TG">Tangua</option>
         <option value="TRS">Teresopolis</option>
         <option value="TDM">Trajano de Morais</option>
         <option value="TR">Tres Rios</option>
         <option value="VLA">Valenca</option>
         <option value="Varre-Sai">Varre-Sai</option>
         <option value="Vassouras">Vassouras</option>
         <option value="Volta Redonda">Volta Redonda</option>
      </select>
    </div>
  </div>
  </div>
  <button type="submit"  class="btn btn-primary">Pesquisar</button>
</form>
