<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
      </a>
    </p>
    <p>Processo Seletivo &copy; UFF.</p>
  </div>
</footer>
